@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #FEFDFE;
  font-family: 'Roboto';
}

/*Animation lines*/
.vertical-line {
  position: absolute;
  top: 0;
  right: 10%;
  display: inline-block;
  width: 2px;
  background-color: #E61E74;
  -webkit-animation: moveBottom 2s forwards;
          animation: moveBottom 2s forwards;
}

.horizontal-line {
  position: absolute;
  top: 10%;
  left: 0;
  height: 2px;
  background-color: #E61E74;
  -webkit-animation: moveRight 2s forwards;
          animation: moveRight 2s forwards;
}

@-webkit-keyframes moveBottom {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}

@keyframes moveBottom {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}

@-webkit-keyframes moveRight {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}

@keyframes moveRight {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}

/*Login and register panel*/
form {
  margin: 10% auto 0 auto;
  padding: 30px;
  width: 400px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

form label {
  font-size: 14px;
  color: darkgray;
  cursor: pointer;
}

form label,
form input {
  float: left;
  clear: both;
}

form input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

form input[type=text]:focus,
form input[type="password"]:focus {
  border-color: cornflowerblue;
}

input[type=submit] {
  padding: 15px 50px;
  width: auto;
  background: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  display: inline-block;
  float: right;
  clear: right;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  border: 2px solid #E61E74;
}

.registration {
  text-decoration: none;
  color: royalblue;
  margin-bottom: 1rem;
}

.programming_img_main {
  position: absolute;
  top: 50%;
  height: 50%;
}

input[type=submit] {
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#E61E74), to(#E61E74));
  background-image: linear-gradient(0, #E61E74, #E61E74);
  background-size: 0 0;
  -webkit-transition: .8s;
  transition: .8s;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

input[type=submit]:hover {
  background-size: 100% 100%;
  color: #fff;
}

/*info*/
/*Typing*/
.container {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  z-index: 99999;
}

.fas {
  color: black;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  -webkit-animation-name: erasing;
          animation-name: erasing;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

/**** this is the Pencil Erasing animation****/
.erasing-animation {
  -webkit-animation-name: erasing;
          animation-name: erasing;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

@-webkit-keyframes erasing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes erasing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.writing-animation {
  -webkit-animation-name: writting;
          animation-name: writting;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes writting {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  2% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  4% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  6% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  8% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  12% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  14% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  16% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  18% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  20% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  22% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  24% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  26% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  28% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  30% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  32% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  34% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  36% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  38% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  40% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  42% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  44% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  46% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  48% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  52% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  54% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  56% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  58% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  60% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  62% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  64% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  66% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  68% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  70% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  72% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  74% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  76% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  78% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  80% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  82% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  84% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  86% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  88% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  90% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  92% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  94% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  96% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  98% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes writting {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  2% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  4% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  6% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  8% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  12% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  14% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  16% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  18% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  20% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  22% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  24% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  26% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  28% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  30% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  32% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  34% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  36% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  38% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  40% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  42% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  44% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  46% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  48% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  52% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  54% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  56% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  58% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  60% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  62% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  64% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  66% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  68% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  70% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  72% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  74% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  76% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  78% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  80% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  82% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  84% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  86% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  88% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  90% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  92% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  94% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  96% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  98% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

/*RWD*/
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
    color: #0E97C5;
  }
  .fas {
    font-size: 3rem;
    color: #0E97C5;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }
  h1 {
    font-size: 2rem;
    color: #0E97C5;
  }
  .fas {
    font-size: 3rem;
    color: #0E97C5;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2 rem;
    color: #0E97C5;
  }
  h2 {
    font-size: 1.5rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .vertical-line {
    display: none;
  }
  .horizontal-line {
    display: none;
  }
  form {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    padding: 0;
  }
  .programming_img_main {
    position: absolute;
    top: 75%;
    left: 50%;
    height: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .container {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  form {
    margin: 20% auto 0 auto;
  }
  .container {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=main.css.map */