
body 
{
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto';
}



/*Back line animation*/

.back_line
{
    position: absolute;
    top: 10%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #E61E74;
    animation: moveRightLine 2s forwards;
}

.top_line
{
    position: absolute;
    top: 0;
    left: 10%;
    display: inline-block;
    height: 15vh;
    width: 2px;
    background-color: #E61E74;
    animation: moveTopLine 2s forwards;
}

.back_to_login
{
    position: absolute;
    top: 4%;
    left: 1%;
    text-decoration: none;
    color: royalblue;
}


@keyframes moveTopLine
{
    from {height: 0}
    to {height: 15vh}
}

@keyframes moveRightLine
{
    from {width: 0}
    to {width: 13vw}
   
}

/*Register*/

form {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%,-50%);
	padding:30px;
	width:400px;
	height:auto;
	overflow:hidden;
	background:white;
    border-radius:10px;
}

form label {
	font-size:14px;
	color:darkgray;
	cursor:pointer;
}

form label,
form input {
	float:left;
	clear:both;
}

form input {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-ms-transition:0.2s ease all;
	-o-transition:0.2s ease all;
	 transition:0.2s ease all;
}

form input[type=text]:focus,
form input[type="password"]:focus {
	border-color:cornflowerblue;
}

input[type=submit] {
	padding:15px 50px;
    width:auto;
    background: transparent;
	border:none;
	color: #000;
	cursor:pointer;
	display:inline-block;
	float:right;
	clear:right;
	-webkit-transition:0.2s ease all;
	-moz-transition:0.2s ease all;
    -ms-transition:0.2s ease all;
	-o-transition:0.2s ease all;
     transition:0.2s ease all;
     border: 2px solid #E61E74;
}


input[type=submit]{
    background-image: linear-gradient(0,  #E61E74, #E61E74);
    background-size: 0 0;
    transition: .8s;
    background-repeat: no-repeat;
    background-position: center;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

input[type=submit]:hover{
    background-size: 100% 100%;
    color: #fff;
}

/*Image*/

.register_img 
{
    position: absolute;
    bottom: 10%;
    left: 2%;
    height: 50%;
}

